{{> nav}}
<div class="container mt-3">
      <div class="row">
        <div class="col-4">
          <div>
            <h1>Profile</h1>
            <div
              class="h4 pb-2 mb-4 text-danger border-bottom border-secondary"
            ></div>
          </div>
          <form  action="/profile?_method=PATCH" method="POST">
            <small>Name</small>
            <input
              class="form-control mb-2"
              type="text"
              aria-label="default input example"
							name="name"
            />
            <small>Email</small>
            <label
              for="exampleFormControlInput1"
              class="form-label mb-2"
            ></label>
            <input name="email" type="email" class="form-control  mb-2" />
            <small>Profile Picture</small>
            <img
              src="{{user.avatar}}"
              alt=""
              class="rounded-circle avatarlrg d-block mt-1 mb-2"
            />
            <input
              class="form-control mb-2"
              type="text"
              aria-label="default input example"
							name="avatar"
            />
            <button class="btn btn-success">Save Changes</button>
          </form>
        </div>
        <div class="col-8">
          <h1>My Listings</h1>
          <div
            class="h4 pb-2 mb-4 text-danger border-bottom border-secondary"
          ></div>
          <button type="button" class="btn btn-success">List a House</button>
          <!-- if the user has no house listed: -->

          <!-- <div class="card mt-2">
            <div class="card-body">
              You don't have any houses listed
            </div>
          </div> -->

          <!-- profiler avalible houses listed -->
          <div class="">
						{{#each houses as |house|}}
            <div class="row row-cols-1">
              <div class="col p-2">
                <div class="card">
										<div class="card-body">
											<!-- one card -->
                    <div class="row row-cols-2">
                      <div class="col-4">
                        <img
                          class="img-fluid"
                          src="{{house.photos.[0]}}"
                          alt="listing photo 1"
                        />
                      </div>
                      <div class="col-8">
                        <h1>{{house.title}}</h1>
                        <span
                          ><i class="fa-solid fa-map-location"></i> {{house.location}}
                          <i class="fa-regular fa-circle-dot"></i> {{house.rooms}} Rooms</span
                        >
                        <div class="row">
                          <div class="col-1 text-end">
                            <img
                              src="{{house.host.avatar}}"
                              class="rounded-circle avatar"
                              alt="host"
                            />
                          </div>
                          <div class="col-11">
                            <small>Hosted by {{house.host.name}}</small>
                          </div>
                        </div>
                        {{house.description}}
                        <div class="col">
                          <button
                            type="button"
                            class="btn btn-outline-secondary"
                          >
                            Edit
                          </button>
                          <button type="button" class="btn btn-outline-success">
                            View
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
					{{/each}}
        </div>
      </div>
    </div>
