{{> nav}}
<div class="pictures ">
      <div class="container">
        <div class="row">
          <div class="col">
            <img
              src="{{house.photos.[0]}}"
              alt=""
              class="img-fluid"
            />
          </div>
					<!-- photos on the right -->
          <div class="col">
            <div class="container p-4">
              <div class="row row-cols-3">
								<!-- photos -->
								{{#each house.photos as |photo|}}
                <div class="small-photo mb-1">
                  <img
                    src="{{photo}}"
                    alt=""
                    class="img-fluid"
                  />
                </div>
								{{/each}}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- profile -->
    <div class="profile">
      <div class="container p-4">
        <div class="row">
          <div class="col-8">
            <div class="row row-cols-1">
              <div class="col">
                <h1>{{house.title}}</h1>
                <small
                  ><i class="fa-solid fa-location-dot pe-1"></i>{{house.location}}</small
                >
                <small
                  ><i class="fa-regular fa-circle-dot pe-1"></i>{{house.rooms}} rooms</small
                >
              </div>
              <div class="col">
                <div class="container p-0">
                  <div class="row row-cols-3">
                    <div class="col-2">
                      <img
                        src="{{user.avatar}}"
                        alt=""
                        class="rounded-circle text-start avatarlrg"
                      />
                    </div>
                    <div class="col-10">
                      <div class="container p-0">
                        <div class="row">
                          <div class="col-12">
                            <small>Hosted By</small>
                            <h6>{{user.name}}</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p>{{house.description}}</p>
              </div>
              <div class="col">
                <h2>0 Reveiws</h2>
                <small>Leave a reveiw</small>
                <form>
                  <div class="form-floating mt-2">
                    <textarea
                      class="form-control mb-2"
                      id="floatingTextarea2"
                      style="height: 250px"
                    ></textarea>
                    <button type="button" class="btn btn-outline-success">
                      <i class="fa-regular fa-thumbs-up"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                      <i class="fa-regular fa-thumbs-down"></i>
                    </button>
                    <button class="btn btn-success d-block mt-2">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- right profile -->
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title mb-1">${{house.price}}</h3>
                <small>0 Reveiws</small>
                <form action="">
                  <textarea
                    placeholder="Send the host a massage..."
                    class="form-control mb-2 mt-3"
                    id="floatingTextarea2"
                    style="height: 150px"
                  ></textarea>
                </form>
                <a href="#" class="btn btn-success">Request Booking</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
